<ion-header>
  <ion-navbar>
    <ion-title>
      Contacts
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngIf="QRCode">
    <ion-card-header>
      <ngx-qrcode [qrc-value]="QRCode"></ngx-qrcode>
    </ion-card-header>
    <ion-card-content center>
      Name: {{value.name}}
      <br> Phone: {{value.phone}}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!QRCode">
    <ion-card-content>
      Bienvenido
    </ion-card-content>
  </ion-card>

  <button button ion-button block (click)="scan()">
    <ion-icon name="qr-scanner"> Scan</ion-icon>
  </button>

  <button button ion-button block (click)="generate()">
    <ion-icon name="create">Create</ion-icon>
  </button>


</ion-content>